- name: nginx-001
  box: fgrehm/trusty64-lxc
  ram: 1024M
  ip: 10.0.3.11
  highstate: true
  folders:
    - from: example/website
      to: /var/www/example
  grains:
    role:
      - webserver

- name: nginx-002
  box: fgrehm/trusty64-lxc
  ram: 1024M
  ip: 10.0.3.12
  highstate: true
  folders:
    - from: example/website
      to: /var/www/example
  grains:
    role:
      - webserver

- name: nginx-003
  box: fgrehm/trusty64-lxc
  ram: 1024M
  ip: 10.0.3.13
  highstate: true
  folders:
    - from: example/website
      to: /var/www/example
  grains:
    role:
      - webserver

- name: nginx-004
  box: fgrehm/trusty64-lxc
  ram: 1024M
  ip: 10.0.3.14
  highstate: true
  folders:
    - from: example/website
      to: /var/www/example
  grains:
    role:
      - webserver

- name: haproxy
  box: fgrehm/trusty64-lxc
  ram: 1024M
  ip: 10.0.3.15
  grains:
    role:
      - haproxy
