global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        user haproxy
        group haproxy
        daemon
        stats socket /tmp/haproxy

defaults
        log global
        mode http
        option httplog
        option dontlognull
        retries 3
        option redispatch
        maxconn 2000
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000

listen stats *:1936
        stats enable
        stats uri /
        stats hide-version
        stats auth someuser:password

listen  web-proxy 0.0.0.0:80
        mode http
        balance leastconn
        option httpchk HEAD / HTTP/1.1\r\nHost:localhost
        {% for server, addrs in salt['mine.get']('nginx*', 'network.ip_addrs').items() -%}
        server {{ server }} {{ addrs[0] }}:80 check inter 2000
        {% endfor -%}
